body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 800px;
	margin: 50px auto;
	padding: 20px;
	text-align: center;
	
}

h1 {
	margin-top: 0;
}

.option {
	margin-bottom: 20px;
	flex-wrap:wrap;
	justify-content:space-evenly;
	align-items:center;
	display:flex;
	
	
}

label {
	display: block;
	margin-top: 10px;
}

button {
	background-color: #3498db;
	border: none;
	color: white;
	padding: 10px 20px;
	text-transform: uppercase;
	cursor: pointer;
}

button:hover {
	background-color: #2980b9;
}

