#dribbble-welcome {
  margin-top:150px;
  font-family: Arial, sans-serif;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 109px;
  text-align:center;
  max-width: 600px;
  font-weight:700;
}

img {
  width: 100px;
  height: auto;
  margin-top: 20px;
}
.option1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top:10px;
  margin-bottom: 10px;
}
.option2 {
  display: flex;
  flex-direction: column;
  align-items: right;
  margin-top:20px;
  margin-bottom: 17px;
}

.option3 {
  font-size:1rem;
  flex-direction: column;
  align-items: right;
  margin-bottom: 100%;
  width:80%;
  justify-content: flex-start;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

input[type="file"] {
  margin-top: 5px;
}

button {
  background-color: pink;
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  
}

button:hover {
  background-color: lightpink;
}

.avatar-icon {
  display: dotted;
  width: 150px;
  height: 150px;
  line-height: 50px;
  text-align: center;
  background-color: whitesmoke;
  color: #333;
  font-size: 24px;
  border-radius: 50%;
  margin-top:1rem;
  margin-right: 10px;
  transition: background-color 0.2s ease-in-out;
  display:center;
  
}

.avatar-icon:hover {
  background-color: rgb(241, 233, 234);
  
}



.location-icon:hover {
  background-color: pink;
  justify-content: space-evenly;
  display: flex;
  
  
}

.next-icon {
  display:inline-block;
  width: 24px;
  height: 124px;
  margin-right: 10px;
  transition: background-color 0.2s ease-in-out;
  display:flex;
}

.next-icon:hover {
  background-color: rgb(237, 212, 216);
}

#i{
  width:50px;
}